html {
  height: 100%;
}
body {
  font: 12px sans-serif;
  height: 100%;
  margin: 0;
}
#header {
  background-color: #f2f2f2;
  padding: 15px;
}
#header h1 {
  color: #6441a5;
  margin: 0;
}
#header a {
  color: #6441a5;
}
#header a:hover {
  color: #7550ba;
}
#chart {
  height: 100%;
}